
<h1>Bonjour! Merci de suivre ce lien pour réinitialiser votre mot de passe</h1>

   <p>Bonjour {{ user.pseudo }}</p>

   <p> 
    <a href="{{ url('app_reset_password', { 'pseudo': user.pseudo, 'resetPasswordToken': user.resetPasswordToken}) }}">Réinitialiser mon mot de passe<a>

  </p>


