{% extends 'base.html.twig' %}

{% block title %} SnowTricks - Mot de passe oublié {% endblock %}

{% block body %}
 <section class="container my-5">
    <div class="form-group row">
        <div class"col">
        <h1 class="text-center h3 mb-3 font-weight-normal">Réeinitializez votre mot de passe</h1>
             <div class="col-lg-8 mx-auto">
             {{ form_start(forgotPasswordForm) }}
             <div class="mb-3">
                 {{ form_row(forgotPasswordForm.email.first) }}
                </div>
                <div class="mb-3">
                 {{ form_row(forgotPasswordForm.email.second) }}
                </div>
        <div class="d-grid gap-2 col-3 mx-auto my-5">
        <button type="submit" class="btn btn-lg btn-primary mt-3" style="background-color: #45637d;">Demander une réinitilisation du mot de passe</button>
        </div>
             {{ form_end(forgotPasswordForm) }}
             </div>
            </div>
        </div>
    </section>
{% endblock %}