<footer class="text-center text-white" style="background-color: #45637d;">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Iframe -->
    <section class="">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-6">
          <p>"La vie est comme le snowboard, il faut se relever à chaque fois que l’on tombe. Une fois que l’on cesse de tomber, on commence enfin à profiter et à aimer ça. Si vous restez au sol, vous ne verrez jamais pourquoi les gens l’aiment tant." William Nope</p>
        </div>
      </div>
    </section>
    <!-- Section: Iframe -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright: SnowTricks
    
  </div>
  <!-- Copyright -->
</footer>