{% extends 'base.html.twig' %}

{% block title %} SnowTricks{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}
    
<div class="container">
<div class="card mb-3">
  <h3 class="card-header text-center">SnowTricks</h3>
  
 <img src="asset/images/banniere.jpg" class="img-fluid" alt="...">
    
</div>


  <div class='row' id='trickContainer'>

  {% for trick in tricks %}

<figure class="figure">
  <h2> {{ trick.name }} </h2>
  <img
    src="asset/images/trick-1.jpg"
    class="figure-img img-fluid rounded shadow-3 mb-2"
    alt="trick"
  />
  <figcaption class="figure-caption text-end">A caption for the above image.</figcaption>

  <p> {{ trick.content}} </p>
</figure>


 {% endfor %}
  </div>
</div>
{% endblock %}
