{% extends 'base.html.twig' %}

{% block title %}
	SnowTricks
{% endblock %}

{% block body %}

	{% for message in app.flashes('success') %}
		<div class="alert alert-success" role="alert">{{ message }}</div>
	{% endfor %}

	<h3 class="card-header text-center p-4">SnowTricks</h3>
		<div class="card mb-3">
			
			<img src="asset/images/banniere.jpg" class="img-fluid" alt="...">

		</div>

<div class="container p-5">
		<div class='row' id='trickContainer'>

			{% for trick in tricks %}
				<div class="col-lg-4 mb-4 trick">

					<div class="carte">
          
						<h2>
							{{ trick.name }} / {{ trick.category.name}}
						</h2>
            
             <a href="" class="btn btn-lg btn-primary mt-3" style="background-color: #45637d;">Voir plus</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
