{% extends 'base.html.twig' %}

{% block title %}
	Créer un Trick
{% endblock %}

{% block body %}
	<section class="container my-5">
		<div class="form-group row">
			<div class"col">
				<h1 class="text-center h3 mb-3 font-weight-normal">SnowTricks - Créer un trick</h1>
				<div class="col-lg-8 mx-auto">
				
				</div>
			</div>
		</div>
		</section>
		{% endblock %}
