{% extends 'base.html.twig' %}

{% block title %}{{ trick.name }}{% endblock %}

{% block body %}

<div class='container my-5'>
    <div class='row'>
    <h1 class="text-center h2 mb-3 font-weight-normal"> {{ trick.name }}</h1>
    <div class="col-lg-8 mx-auto">
    
    <p> {{ trick.content }} </p>

    </div>
    </div>
</div>
{% endblock %}